<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  data-namespace-typo3-fluid="true">

<f:section name="Subject">Fluid-Form: Contact-Request by {form.fieldsets.complete.fields.name.value}</f:section>
<f:section name="Message">Hi,
this is a contact request by {form.fieldsets.complete.fields.name.value}!

Filled fields:<f:for each="{form.fieldsets}" as="fieldset">
<f:for each="{fieldset.fields}" as="field"><f:if condition="{field.excludeFromMail} != '1'"><f:switch expression="{field.type}">
<f:case value="Hidden">
{field.label}: {field.value}
</f:case>
<f:case value="Input">
{field.label}: {field.value}
</f:case>
<f:case value="Textarea">
{field.label}:
{field.value}
</f:case>
</f:switch></f:if></f:for></f:for>
---
Thank you for your attention
</f:section>

</html>