<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
	 xmlns:form="http://typo3.org/ns/CodingMs/FluidForm/ViewHelpers">
	<f:layout name="Default" />
	<f:section name="main">
		<form:flashMessages />
	</f:section>
</div>