<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
	 xmlns:form="http://typo3.org/ns/CodingMs/FluidForm/ViewHelpers">
	<f:layout name="Default" />
	<f:section name="main">
		<form:flashMessages />
		<f:if condition="{showForm}">
			<div class="">
				<f:form id="form-{formUid}" action="show" class="{form.css.class.form}" style="{form.css.style.form}" 
						additionalAttributes="{role: 'form'}" pageUid="{pageUid}" absolute="1" noCacheHash="1"
						addQueryString="{form.configuration.addQueryString}">
					<f:form.hidden name="formKey" value="form-{formUid}" />
					<f:form.hidden name="formUid" value="{formUid}" />
					<f:form.hidden name="ajax" value="{form.configuration.ajax}" />
	
					<div id="form-{formUid}-messages">
						<!--div class="alert alert-success" role="alert"></div>
						<div class="alert alert-info" role="alert"></div>
						<div class="alert alert-warning" role="alert"></div>
						<div class="alert alert-danger" role="alert"></div-->
					</div>
					
					<div id="form-{formUid}-inner" class="panel-group accordion" role="tablist" aria-multiselectable="true">
						
						<f:for each="{form.fieldsets}" as="fieldset" key="fieldsetKey">
							<f:if condition="{fieldset.type}">
								<f:then>
									<f:render partial="Fieldset/{fieldset.type}" section="{fieldset.section}" arguments="{_all}" />
								</f:then>
								<f:comment>
								<f:else>
									<f:debug title="{fieldsetKey}">{fieldset}</f:debug>
								</f:else>
								</f:comment>
							</f:if>
						</f:for>
					</div>
				</f:form>
			</div>
		</f:if>
	</f:section>
</div>