<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
	<f:section name="Default">
		<div class="{field.css.class.wrapper} form-field-textarea" style="{field.css.style.wrapper}" id="form-{formUid}-{fieldsetKey}-{fieldKey}-wrapper">
			<label for="form-{formUid}-{fieldsetKey}-{fieldKey}" class="{field.css.class.label}" style="{field.css.style.label}">{field.label}
				<f:if condition="{field.required} == 1">
					<span class="required">*</span>
				</f:if>
			</label>
			<div class="{field.css.class.fieldWrapper}" style="{field.css.style.fieldWrapper}">
				<f:form.textarea placeholder="{field.placeholder}" 
								 name="form-{formUid}-{fieldsetKey}-{fieldKey}" 
								 id="form-{formUid}-{fieldsetKey}-{fieldKey}"
								 cols="{field.cols}"
								 rows="{field.rows}" 
								 class="{field.css.class.field}"
								 style="{field.css.style.field}"
								 value="{field.value}" />
				<span class="{field.css.class.notice}" style="{field.css.style.notice}" id="form-{formUid}-{fieldsetKey}-{fieldKey}-notice">{field.notice}</span>
				<span class="{field.css.class.message}" style="{field.css.style.message}" id="form-{formUid}-{fieldsetKey}-{fieldKey}-message"></span>
			</div>
		</div>
	</f:section>
</div>